<p id="notice"><%= notice %></p>
<h1>Tweets</h1>
<%if user_signed_in?%>
  <%= render 'form', tweet: @tweet %>
<%end%>
<br>

<%= form_with url: 'search', method: :get do |form| %>
  <div>
    <%=form.label :content, "Buscar tweets:" %>
    <%= form.text_field :content, class:'form-control' %>
  </div>
  <%= form.submit "Buscar" %>
<% end %>
<br>
<%=paginate @tweets %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Content</th>
      <th>Photo</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @tweets.each do |tweet| %>
      <tr>
        <td>
          <%= render_with_tags(tweet.content) %> 
          <p><%= tweet.likes.count %> 
          <%= (tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        </td>        
        <td class= "border border-info" ><%= image_tag (tweet.user.photo || '') %></td>
        <td><%= tweet.active %></td>
        <% if tweet.created_at < 1.hour.ago%> 
        <td><%= link_to time_ago_in_words(tweet.created_at), tweet %></td>
        <% else %>
        <td> <%= link_to time_ago_in_words(tweet.created_at), tweet %> </td>
        <% end %>
        <td>
        <% if current_user %>
        <%= link_to 'Edit', edit_tweet_path(tweet) %>
        <% end %>
        </td>
        <td>
        <% if current_user %>
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<br>

